
.App {
  text-align: center;
  background-color: rgba(104, 219, 234, 0.496);
  display: flex;
  justify-content: center;
}
h1{
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h2, h3{
  font-size:1rem;
}
figure img {
  max-width: 100%;
  height: auto; 
}

figure p {
  font-size: 1.5em;
}
.btn-color{
border-radius: 2rem;
border-color:  rgba(104, 219, 234, 0.89);
color: white;

}
